@import url('//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic');

html {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f7f7f7;
    margin: 0;
}

p {
    margin-top: 0;
    bottom: 0.5rem;
}

a {
    color: 'red';
    text-decoration: none;
}

    a:hover, a:focus {
        color: 'red';
        text-decoration: underline;
    }

.slide {
    width: 100%;
    vertical-align: top;
    white-space: normal;
    display: inline-block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
