.spinner {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.spinner :before {
    content: '';
    display: block;
    padding-top: 100%;
}

.animate {
  animation: presentation 400ms ease-out;
  will-change: transform;
}

.graphics {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.spinner-path {
  stroke: currentColor;
  stroke-dasharray: 1px, 200px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

/*:global(.ie) .graphics {
    animation: rotate 1s linear infinite;
}

:global(.ie)  .spinner-path {
    stroke-dasharray: 30px, 200px;
    animation: none;
}*/

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 89px, 200px;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89px, 200px;
    stroke-dashoffset: -124px;
  }
}

@keyframes presentation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
